html {
	font-size: 1.5em;
}

#closewindow {
	z-index: 999;
}
.card {
	position: relative;
	border-style: solid;
	width: 80vw;
	height: 60vw;
	text-align: center;
	margin-bottom: 3em;
	margin-top: 2em;
}
h1 {
	font-size: 2.5em;
}

.sources {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 95%;
	margin: 0 auto;
}
#media-results {
}
video {
	object-fit: cover;
	max-height: 90%;
	width: 100%;
}
#full-image-dialog {
	/*display: flex;*/
	width: 100vw;
	height: 100vh;
}
img {
	object-fit: cover;
}

#full-image-dialog img {
	width: 100vw;
	height: auto;
}
