

.card {
	border-style: solid;
	border-width: 2;
	text-align: center;
	width: 25vh;
	aspect-ratio: 1/1;
	padding: 0.3em;
	
}

.card img {
    height: 100%;
	object-fit: cover;
}
.card video {
    height: 100%;
	object-fit: cover;
}

.media {
  display: flex;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 40%;
}
.text {
	overflow-y: auto;
	height: 60%;
}
.part {
	height: 25em;

}
