assemblyai
edge_tts
ffmpeg_python
Flask
Flask_Cors
fleep
g4f
google_api_python_client
google-generativeai
httplib2
nltk
oauth2client
openai
protobuf
pydub
python-dotenv
Requests
srt_equalizer
termcolor
google-auth-httplib2
google-auth-oauthlib