assemblyai==0.23.1
edge_tts==6.1.10
ffmpeg_python==0.2.0
Flask==3.0.2
Flask_Cors==4.0.0
g4f==0.2.5.4
httplib2==0.22.0
nltk==3.8.1
python-dotenv==1.0.1
Requests==2.31.0
sox==1.4.1
srt_equalizer==0.1.9
termcolor==2.4.0
google-api-python-client 
oauth2client
openai
google-generativeai
